// Die Backs
B0 BITMAP "ressource_data/B0.bmp"
B1 BITMAP "ressource_data/B1.bmp"
B2 BITMAP "ressource_data/B2.bmp"
B3 BITMAP "ressource_data/B3.bmp"
B4 BITMAP "ressource_data/B4.bmp"
B5 BITMAP "ressource_data/B5.bmp"
B6 BITMAP "ressource_data/B6.bmp"
B7 BITMAP "ressource_data/B7.bmp"
B8 BITMAP "ressource_data/B8.bmp"
B9 BITMAP "ressource_data/B9.bmp"
B10 BITMAP "ressource_data/B10.bmp"
// Die eigentlichen Karten
F0 BITMAP "ressource_data/F0.bmp"
F1 BITMAP "ressource_data/F1.bmp"
F2 BITMAP "ressource_data/F2.bmp"
F3 BITMAP "ressource_data/F3.bmp"
F4 BITMAP "ressource_data/F4.bmp"
F5 BITMAP "ressource_data/F5.bmp"
F6 BITMAP "ressource_data/F6.bmp"
F7 BITMAP "ressource_data/F7.bmp"
F8 BITMAP "ressource_data/F8.bmp"
F9 BITMAP "ressource_data/F9.bmp"
F10 BITMAP "ressource_data/F10.bmp"
F11 BITMAP "ressource_data/F11.bmp"
F12 BITMAP "ressource_data/F12.bmp"
F13 BITMAP "ressource_data/F13.bmp"
F14 BITMAP "ressource_data/F14.bmp"
F15 BITMAP "ressource_data/F15.bmp"
F16 BITMAP "ressource_data/F16.bmp"
F17 BITMAP "ressource_data/F17.bmp"
F18 BITMAP "ressource_data/F18.bmp"
F19 BITMAP "ressource_data/F19.bmp"
F20 BITMAP "ressource_data/F20.bmp"
F21 BITMAP "ressource_data/F21.bmp"
F22 BITMAP "ressource_data/F22.bmp"
F23 BITMAP "ressource_data/F23.bmp"
F24 BITMAP "ressource_data/F24.bmp"
F25 BITMAP "ressource_data/F25.bmp"
F26 BITMAP "ressource_data/F26.bmp"
F27 BITMAP "ressource_data/F27.bmp"
F28 BITMAP "ressource_data/F28.bmp"
F29 BITMAP "ressource_data/F29.bmp"
F30 BITMAP "ressource_data/F30.bmp"
F31 BITMAP "ressource_data/F31.bmp"
F32 BITMAP "ressource_data/F32.bmp"
F33 BITMAP "ressource_data/F33.bmp"
F34 BITMAP "ressource_data/F34.bmp"
F35 BITMAP "ressource_data/F35.bmp"
F36 BITMAP "ressource_data/F36.bmp"
F37 BITMAP "ressource_data/F37.bmp"
F38 BITMAP "ressource_data/F38.bmp"
F39 BITMAP "ressource_data/F39.bmp"
F40 BITMAP "ressource_data/F40.bmp"
F41 BITMAP "ressource_data/F41.bmp"
F42 BITMAP "ressource_data/F42.bmp"
F43 BITMAP "ressource_data/F43.bmp"
F44 BITMAP "ressource_data/F44.bmp"
F45 BITMAP "ressource_data/F45.bmp"
F46 BITMAP "ressource_data/F46.bmp"
F47 BITMAP "ressource_data/F47.bmp"
F48 BITMAP "ressource_data/F48.bmp"
F49 BITMAP "ressource_data/F49.bmp"
F50 BITMAP "ressource_data/F50.bmp"
F51 BITMAP "ressource_data/F51.bmp"
F52 BITMAP "ressource_data/F52.bmp"
F53 BITMAP "ressource_data/F53.bmp"
// Die Tools
T0 BITMAP "ressource_data/T0.bmp"
T1 BITMAP "ressource_data/T1.bmp"
T2 BITMAP "ressource_data/T2.bmp"
T3 BITMAP "ressource_data/T3.bmp"
T4 BITMAP "ressource_data/T4.bmp"
// Die KartenMaske
MASK BITMAP "ressource_data/MASK.bmp"

